/node_modules
/public/hot
/public/upload
/public/gallary_image
/public/service_image
/public/home_image
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
